* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   font-family: Asap;
   text-align: center;
   background-color: #191919;
   /* background-color: #fcf32a; */
}

.app {
   margin:6% auto;
   width:30em;
   background-color: #fcf32a;
}

header {}
header h1 {color: #252505;}
header img {
   padding:1em;
   width:20em;
}

.container {
   padding:1em;
}

.numbers{
   background-color: #0202c6;
   margin: 0 5px;
   width:3em;
   height:3em;
   display:inline-block;
   border-radius: 50%;
}

.numbers > p {
   margin-top: 0.4em;
   font-size: 25px;
   color: #fff;
}

.subButton {
   padding: 20px;
}

.buttonSub {
   background-color: #fffe8d;
   box-shadow: 0px 5px #b5ae11;
   border-radius: 5px;
   border: none;
   font-size:20px;
   color: #28270a;
   font-weight: bold;
   padding: 15px;
   outline: none;
}

.buttonSub:hover {
   background-color: #626222;
   color: white;
   transition: 0.3s;
}

.buttonSub:active {
   background-color: #626222;
   color: white;
   box-shadow: 0 0px #666;
   transform: translateY(4px);
}
